
.flexbox{
    display: flex;
    min-width: 15%;
}
.flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex div{
    margin: 5px ;
    flex: 2;
}
.flex-end{
    flex: end;
}
.fixed{
    position: fixed;
}
.margin{
    margin: 1vw;
}
.absolute{
    position: absolute;
}
.six {
    height: 1600px;
    width: 21px;
    background: rgb(158, 113, 30);
    margin: 0px 16px 0px 16px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    

}
aside .ball{
    margin:0px 6px 0px 15px;
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
.five {
    height: 1600px;
    width: 18px;
    background: rgb(158, 113, 30);
    margin: 0px 16px 0px 16px;
}
.four {
    height: 1600px;
    width: 15px;
    background: rgb(158, 113, 30);
    margin: 0px 16px 0px 16px;
}
.three{
    height: 1600px;
    width: 12px;
    background: rgb(158, 113, 30);
    margin: 0px 16px 0px 16px;
}
.two{
    height: 1600px;
    width: 9px;
    background: rgb(190, 190, 190);
    margin: 0px 16px 0px 16px;
}
.one{
    height: 1600px;
    width: 6px;
    background: rgb(190, 190, 190);
    margin: 0px 16px 0px 16px;
}
.flex-vert{
    display: flex;
    /* position:absolute; */
    height: 100%;
    /* align-items:; */
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 0px 0px 18px;
}
.line{
    width: 240px;
    background-color:rgb(94, 94, 94);
    height: 3px;
    display: flex;
    justify-content: space-between;
    
}
.line button{
  /*  margin: 6px 1px 0px 1px;*/
  margin-top: 5px;
    min-width:30px;
    opacity: 0;
    border-radius:100%; 
    height: 30px;
}
.sixb{
    margin: 6px 7px 0px 9px; 
    /* flex-grow: 77; */

}
.fiveb{
    margin: 6px 6px 0px 7px; 
    /* flex-grow: 75; */
    /* margin: 0 2% 0 0; */
}
.fourb{
    margin: 6px 5px 0px 6px; 
    /* flex-grow: 73; */
}
.threeb{
    margin: 6px 4px 0px 5px; 
    /* flex-grow: 71; */
}
.twob{
    margin: 6px 3px 0px 4px; 
    /* flex-grow: 69; */
}
.oneb{
    margin: 6px 10px 0px 3px; 
    /* flex: 68; */
}
.line button:hover {
    opacity:0.5;
    cursor:pointer;
}
.chord{
    height: 1600px;
}
.w100pr{
    width: 100%;
}
.h0{
    height: 2px;
}

.ball{
    border-radius: 100%;
    background-color: orange;
    border: 2px solid blue;
    min-width: 24px;
    min-height: 24px;
    display:inline-block;
}

.is-six-playing{
    margin: 6px 7px 0px 9px; 
}
.is-five-playing{
    margin: 6px 6px 0px 7px; 
    /* flex-grow: 75; */
    /* margin: 0 2% 0 0; */
}
.is-four-playing{
    margin: 6px 5px 0px 6px; 
    /* flex-grow: 73; */
}
.is-three-playing{
    margin: 6px 4px 0px 5px; 
    /* flex-grow: 71; */
}
.is-two-playing{
    margin: 6px 3px 0px 4px; 
    /* flex-grow: 69; */
}
.is-one-playing{
    margin: 6px 10px 0px 3px; 
    /* flex: 68; */
}
.input-box{
    margin-left:10px;
}
.input-box button{
    margin-left:5px;
    margin-right: 20px;
    width: 30%;
    font-size: 20px;
}
header{
min-height: 50px;
margin: 0px 0px 5px 0px;
margin-block-start: 0px;
font-size: 40px;
font-weight:bolder;
color: rgb(255, 255, 255);
text-shadow: black 0px 0px 3px;
text-align: center;
background: orange;
padding: 5px;
position: sticky;
top: 0;
z-index: 4;
}

* {
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
    transition: width 3s, height 3s, ease 0.5s;
  }
.chord-sounds span{
    font-size: 26px;
    width: 20px;
    position: relative;
    /* margin: 0px 9px 0px 10px; */
}
.chord-sounds{
    display: flex;
    width: 240px;
    margin-left:18px ;
    margin-bottom:-2px ;
 justify-content: space-between;
}
.flex-test{display: flex;
width: 240px;
margin-left:20px ;
justify-content: space-between;}
.chord-sounds span span{
    border-radius: 100%;
    background-color: orange;
    border: 2px solid blue;
    width: 20px;
    height: 20px;
    display:inline-block;
    margin: 0px;
}
.flex-info{
    display: flex;
    flex-wrap: wrap;
}
.flex-info aside p{
    text-align: justify;
    margin-left: 10px;
    margin-right: 3px;
    margin-top: 0px;
}
aside{
    margin-top: 20px;
}
#info{
    text-align: center;
}
a{
    color: rgb(128,128,128);
}
.orange{
    color: orange;
}
.flex div {
    flex-shrink: 0;
    min-width: 140px;
    max-width: 700px;
}
.high {
    min-height: 200px;
}
table{
    border: 2px solid grey;
    margin: 10px;
    border-collapse: collapse;
}
td {
    border: 1px solid rgb(198, 198, 198);
    padding: 3px;
    height: 30px;
}
.blacknwhite{
    color: white;
    background: #000;
}
thead {
    background: rgb(233, 233, 233);
    border: 2px solid black;
}
textarea{
    font-size: 20px;
    height: 50px;
}
.space-around{
    justify-content: space-around;
}
.border-radius{
    border-radius: 50px 50px;
}
.center{
    display: flex;
   align-items: center;
}
aside{
    /* margin-left: 7%; */
    margin-right: 7%;
    min-width: 200px;
    width: 450px;
    max-width: 100%;
    flex-grow: 2;
}
.margin-left{
    margin-left:10px ;
}
.zero-and-X div{
    min-width: 24px;
}
.volume{
    margin-left:15px ;
}
footer{
    background: rgb(37, 37, 37);
    color: white;
    padding: 5px;
    margin: 20px 0 0 0;
    box-sizing: border-box;

}
.clear:both{
    clear: both;
}
body{
    margin: 0;
}
footer p{
    margin-left: 20px;
}
select{
    margin: 10px;
    width: 170px;
    height: 40px;
    font-size: 20px;
}
button::before{
    cursor: pointer;
    content: "";
    position:absolute;
    /* width: 100%;
    height: 100%; */
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
}
button{
    position:relative;
}
.volume{
  max-width: 10%;
    max-height: 10%;
       /*width: 50px;
    height: 50px;*/
    flex-grow: 1;
}
#audioVolume{
    width: 10%;
    flex-grow: 1;
    /* margin-right: 20px; */
    margin: 5px 10px 5px 10px;
}
.space-between{
    justify-content: space-between;
}
#delay{
    font-size: calc(15px + 1vw);
    width: 10vw;
}
.flexbox .space-between {
    flex: 1;
    margin: auto 20px auto 20px;
    /* font-size: ; */
}
.option-text{
font-size: calc(5px + 1vw);
text-align: center;
}
.min-width{
    min-width: calc(30px + 20%);
}
button:hover{
    cursor: pointer;
}
textarea{
    resize: none;
    font-size: calc(1vw + 7px);
} 
#resultbutton:hover{
    background: rgb(255, 197, 146);
}
#resultbutton:active{
    background: rgb(255, 119, 0);
}
.chord-sounds button:hover{
    background: rgb(255, 197, 146);
}
.chord-sounds button:active{
    background: rgb(255, 119, 0);
}
textarea:focus{
    background: rgb(255, 197, 146);
}
.chord{
    margin-right: 7%;
}

